body{
    background-image: url('img/back.jpg');
}
.wrapper{
    max-width: 940px;
    box-shadow:0 10px 10px 5px hsl(0deg 0% 53%);
    margin:0 auto;
}
h1,h2,h3,h4,h5,h6{
    color:#dc0e23;
    font-family: 'Oswald', sans-serif;
}
h1, .h1{
    font-size: 36px;
}
h2,.h2{
    text-transform: uppercase;
}
h4, h5{
    color:#000000;
    text-transform:uppercase;
}
a{
    color:#dc0e23;
}
a:hover{
    color:#b10c1d;
}
.container{
    background:#FFFFFF;
    max-width: 940px;
}
.row{
    padding:0 30px;
}

/*
=================================================
HEADER
================================================
*/
.header{
    background-image:url('img/hd_img.png');
    background-repeat:no-repeat;
    background-position: top right 30px;
    padding-top: 40px;
    padding-bottom: 40px;

}
.header h1{
    text-transform:uppercase;
    font-weight:400;
}
/*
=================================================
NAVIGATION
================================================
*/
.nav-wrapper{
    max-width:940px;
    padding:0 40px;
    background:#FFF;
}
.navbar{
    border-radius:5px;
}
.nav-item{
    text-transform: uppercase;
    font-size:12px;
}
.home .nav-item:nth-of-type(1){
    font-weight:bold;
    --bs-nav-link-color:#FFF;
}
.developing_news .nav-item:nth-of-type(2){
    font-weight:bold;
    --bs-nav-link-color:#FFF;
}
.target_markets .nav-item:nth-of-type(3){
    font-weight:bold;
    --bs-nav-link-color:#FFF;
}
.product_descriptions .nav-item:nth-of-type(4){
    font-weight:bold;
    --bs-nav-link-color:#FFF;
}
.downloads .nav-item:nth-of-type(5){
    font-weight:bold;
    --bs-nav-link-color:#FFF;
}
.free_marketing_tools .nav-item:nth-of-type(6){
    font-weight:bold;
    --bs-nav-link-color:#FFF;
}
.contact_us .nav-item:nth-of-type(7){
    font-weight:bold;
    --bs-nav-link-color:#FFF;
}

/*
=================================================
FOOTER
================================================
*/

.footer p{
    font-size:11px;
    color:#444444;
}