/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-fff6691f-2081pijr
 *                                 	 
 ******************************************************************************************************/
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 600px;
						
						padding-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(230, 210, 80, 0);
						
						padding-left: 0px;
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(255, 255, 255);
						
						border-bottom-width: 1px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						width: 15%;
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .inner-pic  {
		
						opacity: 0.46;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter: grayscale(100%) brightness(0.6);	
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .preview-subtitle-holder  {
		
						max-width: 650px;
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						padding-right: 6%;
						
						width: 88%;
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .background-div  {
			
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .preview-title  ,  .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .preview-body h1  { 
						font-family: Montserrat;
						font-size:calc( 10px + ( 47rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(242, 242, 242);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.1em;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .preview-item-links span  ,  .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr #sr-basket-widget *  { 
						font-family: Arial;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 10px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0.1em;
						
						margin-right: 5px;
						
						margin-top: 15px;
						
						padding-left: 20px;
						
						border-radius: 0px;
						
						padding-top: 10px;
						
						margin-bottom: 10px;
						
						border-width: 0px;
						
						background-color: rgb(125, 34, 34);
						
						padding-right: 20px;
						
						margin-left: 5px;
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .stripe-background  {
		
						opacity: 0.61;
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .preview-element.icon-source  {
		
						width: 90px;
						
						margin-top: 5px;
						
						margin-bottom: 5px;
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .background-image-div  {
		
						color: rgb(255, 255, 255);
						
						opacity: 1;
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .preview-link-img  {
		
						width: 35px;
						
						margin: 8px;
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .preview-item-links span:hover  ,  .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .preview-item-links span:before  ,  .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .preview-body  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(180, 180, 180);
						
						max-width: 1000px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						line-height: 1.6em;
							
		}
	
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .middle_layout .helper-div  ,  .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .preview-subtitle  ,  .style-5173c7ad-wbviiawb .style-fff6691f-2081pijr .preview-body h2  { 
						line-height: 1.4em;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.2em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						font-family: Abel;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-fff6691f-2081pijr #vbid-fff6691f-ziswjfnc .preview-content-holder{
				
							text-align : center;
					
				} .style-fff6691f-2081pijr #vbid-fff6691f-qumthxcc .preview-content-holder{
				
							text-align : left;
					
				}


 .style-fff6691f-2081pijr #vbid-fff6691f-ptklwarz.inner-pic{
				
							background-position : 48.2968368530273% 17.8304233551025%;
					
				} .style-fff6691f-2081pijr #vbid-fff6691f-wcfmig4w.inner-pic{
				
							background-position : 51.7764% 40.3226%;
					
				} .style-fff6691f-2081pijr #vbid-fff6691f-ujpaxble.inner-pic{
				
							background-size : cover;
					
							background-position : 31.5622% 47.7852%;
					
				} .style-fff6691f-2081pijr #vbid-fff6691f-wlhaz8mj.inner-pic{
				
							background-position : 40.6865% 31.5728%;
					
				} .style-fff6691f-2081pijr #vbid-fff6691f-ivygrvbl.inner-pic{
				
							background-position : 47.0449% 12.9383%;
					
				} .style-fff6691f-2081pijr #vbid-fff6691f-ivgstbld.inner-pic{
				
							background-size : 143%;
					
				} .style-fff6691f-2081pijr #vbid-fff6691f-8rrzwrzp.inner-pic{
				
							background-size : cover;
					
							background-position : 29% 19%;
					
				} .style-fff6691f-2081pijr #vbid-fff6691f-hamzqj6l.inner-pic{
				
							background-size : contain;
					
							background-position : 50% 50%;
					
				}













 .style-fff6691f-2081pijr #vbid-fff6691f-ziswjfnc .preview-content-wrapper{
				
							text-align : center;
					
				} .style-fff6691f-2081pijr #vbid-fff6691f-qumthxcc .preview-content-wrapper{
				
							text-align : left;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-5173c7ad-kwx0gohz
 *                                 	 
 ******************************************************************************************************/
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz .background-div  {
		
						color: rgb(255, 255, 255);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz .preview-title  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz .preview-body h1  { font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(220, 220, 220);
						
						letter-spacing: 0em;
						
						margin-right: 0px;
						
						margin-top: 20px;
						
						margin-left: 0px;
						
						margin-bottom: 5px;
						
						font-family: Oswald;
						
						background-color: rgba(11, 11, 11, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz .preview-link-img  {
		
						width: 30px;
						
						margin: 5px;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz.master.item-box   {
		
						padding-left: 0%;
						
						padding-right: 0%;
						
						width: 100%;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz  .preview-content-holder  {
		
						text-align: center;
						
						max-width: 500px;
						
						margin-right: 30px;
						
						margin-top: 40px;
						
						margin-left: 30px;
						
						margin-bottom: 40px;
						
						background-color: rgba(246, 239, 217, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz .preview-item-links span  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz #sr-basket-widget *  { 
						color: #ffffff;
						
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );	
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0.619608);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz .preview-subtitle-holder  {
		
						text-align: center;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz .preview-body  {
		
						color: rgb(104, 104, 104);
						
						margin-bottom: 5px;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						background-color: rgba(255, 255, 255, 0);
						
						margin-top: 5px;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz .preview-element.icon-source  {
		
						padding-right: 0px;
						
						width: 50px;
						
						margin-top: 0px;
						
						padding-left: 0px;
						
						margin-bottom: 0px;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 20px;
						
						margin-left: 5px;
						
						margin-right: 5px;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz .preview-body-holder  {
		
						text-align: left;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz  .preview-content-wrapper  {
		
						text-align: center;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz .stripe-background  {
		
						margin-left: 0%;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz .middle_layout .helper-div  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz .preview-subtitle  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-kwx0gohz .preview-body h2  { 
						font-family: Arial;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						color: rgb(142, 142, 142);
						
						letter-spacing: 0.0em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						line-height: 1.2em;
						
						background-color: rgba(0, 0, 0, 0);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/




















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-5173c7ad-wbviiawb
 *                                 	 
 ******************************************************************************************************/
	 .master .style-5173c7ad-wbviiawb .Body  {
		font-size:calc( 10px + ( 12rem - 10rem ) );
						max-width: 650px;
						
						margin-right: 20px;
						
						margin-left: 20px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}
	 .master .style-5173c7ad-wbviiawb .Subtitle  ,  .master .style-5173c7ad-wbviiawb .Body h2  { font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(110, 110, 110);
						
						max-width: 650px;
						
						letter-spacing: 0.1em;
						
						margin-right: 20px;
						
						margin-top: 15px;
						
						margin-left: 20px;
						
						margin-bottom: 15px;
						
						font-family: Arial;
							
		}
	 .master .style-5173c7ad-wbviiawb .quote-holder  {
		
						margin-bottom: 45px;
						
						margin-top: 35px;
							
		}
	 .master .style-5173c7ad-wbviiawb .subtitle-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-5173c7ad-wbviiawb .Title  ,  .master .style-5173c7ad-wbviiawb .Body h1  { font-size:calc( 10px + ( 22rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						max-width: 650px;
						
						letter-spacing: 0.05em;
						
						margin-right: 20px;
						
						margin-top: 30px;
						
						margin-left: 20px;
						
						font-family: Montserrat;
							
		}
	 .master .style-5173c7ad-wbviiawb .link-wrapper  {
		
						max-width: 1058px;
							
		}
	 .master .style-5173c7ad-wbviiawb .Quote  {
		
						margin-right: 50px;
						
						font-family: 'Times New Roman';
						font-size:calc( 10px + ( 19rem - 10rem ) );
						margin-left: 50px;
						
						font-style: italic;
							
		}
	 .master .style-5173c7ad-wbviiawb .quote-author  {
		
						font-style: italic;
						font-size:calc( 10px + ( 19rem - 10rem ) );
						color: rgb(124, 124, 124);
						
						margin-right: 50px;
						
						margin-top: 10px;
						
						margin-left: 50px;
						
						font-family: 'Times New Roman';
							
		}
	 .master .style-5173c7ad-wbviiawb .title-wrapper  {
		
						max-width: 1180px;
							
		}
	 .master .style-5173c7ad-wbviiawb .item-links span  {
		
						font-family: Arial;
						font-size:calc( 10px + ( 13rem - 10rem ) );
						color: rgb(0, 0, 0);
						
						padding-bottom: 10px;
						
						letter-spacing: 0.1em;
						
						padding-right: 15px;
						
						margin-top: 20px;
						
						padding-left: 15px;
						
						padding-top: 10px;
						
						margin-bottom: 20px;
						
						border-width: 1px;
						
						background-color: rgba(66, 117, 83, 0);
						
						margin-left: 50px;
							
		}
	
	 .master .style-5173c7ad-wbviiawb .body-wrapper  {
		
						max-width: 1032px;
							
		}
	 .style-5173c7ad-wbviiawb.master.container > #children  {
		
						background-color: rgb(255, 255, 255);
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/

	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-title:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-title:not(.custom) { 
						font-family: Montserrat;
				
						letter-spacing: 0.0em;
				
						line-height: 1.0em;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-element.Link:not(.custom)  {
		
						border-radius: 0px;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-subtitle:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-subtitle:not(.custom) { 
						font-family: Abel;
					
		}
	
	
	
			.master.container.website-style .master.item-box:not(.custom) .preview-body:not(.custom) , 
			.master.container.website-style .master.item-box:not(.custom) .blocks-preview-body:not(.custom) { 
						font-family: Abel;
					
		}
	
	
	
			body    {
		
						background-color: rgb(255, 255, 255);
					
		}/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-5173c7ad-ywj7pubm
 *                                 	 
 ******************************************************************************************************/
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm  .preview-content-holder  {
		
						margin-right: 0px;
						
						padding-bottom: 0px;
						
						text-align: left;
						
						max-width: 600px;
						
						padding-right: 0px;
						
						margin-top: 30px;
						
						margin-left: 0px;
						
						padding-top: 0px;
						
						margin-bottom: 30px;
						
						background-color: rgba(230, 210, 80, 0);
						
						padding-left: 0px;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .item-content:not(.blocks_layout)  {
		
						background-color: rgba(0, 0, 0, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .preview-divider  {
		
						border-style: solid;
						
						border-color: rgb(255, 255, 255);
						
						border-bottom-width: 1px;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						width: 15%;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .inner-pic  {
		
						opacity: 0.46;
						
						color: rgb(255, 255, 255);
						
		    			-webkit-filter: grayscale(100%) brightness(0.6);	
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .preview-subtitle-holder  {
		
						max-width: 650px;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .multi_layout .helper-div.middle-center .pic-side  {
		
						margin-left: -6%;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .multi_layout .helper-div.middle-center  {
		
						padding-left: 6%;
						
						width: 88%;
						
						padding-right: 6%;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .background-div  {
			
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm.master.item-box   {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .preview-title  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .preview-body h1  { 
						line-height: 1.1em;
						font-size:calc( 10px + ( 38rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.0em;
						
						margin-top: 10px;
						
						margin-bottom: 10px;
						
						font-family: 'Playfair Display';
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .preview-item-links span  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm #sr-basket-widget *  { 
						border-width: 0px;
						font-size:calc( 10px + ( 10rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						padding-bottom: 15px;
						
						border-color: rgba(0, 0, 0, 0);
						
						letter-spacing: 0.1em;
						
						margin-right: 5px;
						
						margin-top: 15px;
						
						padding-left: 20px;
						
						border-radius: 22px;
						
						padding-top: 15px;
						
						margin-bottom: 10px;
						
						font-family: Arial;
						
						background-color: rgb(125, 34, 34);
						
						padding-right: 20px;
						
						margin-left: 5px;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .stripe-background  {
		
						opacity: 0.61;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .preview-element.icon-source  {
		
						margin-bottom: 15px;
						
						width: 90px;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .background-image-div  {
		
						color: rgb(255, 255, 255);
						
						opacity: 1;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .preview-link-img  {
		
						width: 35px;
						
						margin: 8px;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .preview-icon-holder  {
		
						margin-bottom: 40px;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .preview-body-holder  {
		
						max-width: 800px;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm  .preview-content-wrapper  {
		
						text-align: left;
						
						vertical-align: middle;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .preview-item-links span:hover  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .preview-element.Link.hover-tester  { 
						color: rgb(255, 255, 255);
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .inner-pic-holder  {
		
						background-color: rgb(0, 0, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .preview-item-links span:before  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .effect-tester  { 
						background-color: rgb(0, 0, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .preview-body  {
		
						line-height: 1.6em;
						font-size:calc( 10px + ( 15rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						max-width: 1000px;
						
						margin-top: 10px;
						
						margin-bottom: 30px;
						
						font-family: Arial;
							
		}
	
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .preview-social-holder  {
		
						margin-bottom: 10px;
						
						margin-top: 10px;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .middle_layout .helper-div  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .preview-subtitle  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-ywj7pubm .preview-body h2  { 
						font-family: Abel;
						font-size:calc( 10px + ( 14rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.2em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						margin-bottom: 10px;
						
						line-height: 1.4em;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/
 .style-5173c7ad-ywj7pubm #vbid-5173c7ad-aywx1trv .preview-content-holder{
				
							text-align : center;
					
				} .style-5173c7ad-ywj7pubm #vbid-5173c7ad-wsafux3i .preview-content-holder{
				
							text-align : left;
					
				}


 .style-5173c7ad-ywj7pubm #vbid-5173c7ad-d8naoffw.inner-pic{
				
							background-size : contain;
					
							background-position : 50% 50%;
					
				} .style-5173c7ad-ywj7pubm #vbid-5173c7ad-frfdwjku.inner-pic{
				
							background-position : 40.6865% 31.5728%;
					
				} .style-5173c7ad-ywj7pubm #vbid-5173c7ad-gg08pjkc.inner-pic{
				
							background-position : 51.7764% 40.3226%;
					
				} .style-5173c7ad-ywj7pubm #vbid-5173c7ad-rutt5jeq.inner-pic{
				
							background-position : 48.2968368530273% 17.8304233551025%;
					
				} .style-5173c7ad-ywj7pubm #vbid-5173c7ad-snhaizqj.inner-pic{
				
							background-size : 143%;
					
				} .style-5173c7ad-ywj7pubm #vbid-5173c7ad-kxpodxqd.inner-pic{
				
							background-size : cover;
					
							background-position : 31.5622% 47.7852%;
					
				} .style-5173c7ad-ywj7pubm #vbid-5173c7ad-qejivbzw.inner-pic{
				
							background-size : cover;
					
							background-position : 29% 19%;
					
				} .style-5173c7ad-ywj7pubm #vbid-5173c7ad-wkv5l7jq.inner-pic{
				
							background-position : 47.0449% 12.9383%;
					
				}













 .style-5173c7ad-ywj7pubm #vbid-5173c7ad-aywx1trv .preview-content-wrapper{
				
							text-align : center;
					
				} .style-5173c7ad-ywj7pubm #vbid-5173c7ad-wsafux3i .preview-content-wrapper{
				
							text-align : left;
					
				}











/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
/******************************************************************************************************
 *            DYNAMIC STYLE FOR style-5173c7ad-7qqtfnyb
 *                                 	 
 ******************************************************************************************************/
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .preview-title-holder  {
		
						text-align: left;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb.master.item-box   {
		
						position: relative;
						
						background-color: rgb(0, 0, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .preview-item-links span:hover  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .preview-element.Link.hover-tester  { 
						color: rgb(230, 230, 230);
						
						background-color: rgba(147, 147, 147, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb.master.item-box   {
		
						padding-left: 3%;
						
						width: 94%;
						
						padding-right: 3%;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .preview-item-links  {
		
						text-align: center;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb  .preview-content-holder  {
		
						border-color: rgb(214, 214, 214);
						
						max-width: 2000px;
						
						margin-right: 0px;
						
						margin-top: 0px;
						
						margin-left: 0px;
						
						background-color: rgba(0, 0, 0, 0);
						
						text-align: left;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .preview-item-links span  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb #sr-basket-widget *  { font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(181, 181, 181);
						
						padding-bottom: 20px;
						
						border-color: rgba(255, 255, 255, 0.670588);
						
						letter-spacing: 0.2em;
						
						max-width: 1150px;
						
						padding-right: 10px;
						
						padding-left: 10px;
						
						padding-top: 20px;
						
						font-family: Abel;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .preview-title  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .preview-body h1  { font-size:calc( 10px + ( 12rem - 10rem ) );
						text-transform: uppercase;
						
						color: rgb(181, 181, 181);
						
						letter-spacing: 0.05em;
						
						margin-left: 0px;
						
						font-family: Raleway;
						
						background-color: rgba(255, 255, 255, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .preview-item-links.allow-bg-color  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .submenu  { 
						background-color: rgba(0, 0, 0, 0.619608);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .item-content:not(.blocks_layout)  {
		
						background-color: rgba(244, 203, 74, 0);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .preview-divider  {
		
						border-bottom-width: 1px;
						
						width: 10%;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .preview-item-links span:before  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .effect-tester  { 
						background-color: rgb(181, 181, 181);
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .preview-subtitle-holder  {
		
						text-align: left;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .stripe-background  {
		
						margin-left: -3%;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .preview-element.icon-source  {
		
						color: rgb(0, 0, 0);
						
						margin-right: 10px;
						
						margin-top: 0px;
						
						margin-left: 10px;
						
						margin-bottom: 0px;
						
						width: 50px;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb  .preview-content-wrapper  {
		
						vertical-align: bottom;
						
						text-align: left;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .middle_layout .helper-div  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .multi_layout .helper-div.middle-center .text-side  { 
						max-width: 1000px;
							
		}
	 .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .preview-subtitle  ,  .style-5173c7ad-wbviiawb .style-5173c7ad-7qqtfnyb .preview-body h2  { font-size:calc( 10px + ( 12rem - 10rem ) );
						color: rgb(255, 255, 255);
						
						letter-spacing: 0.05em;
						
						margin-right: 0px;
						
						margin-top: 5px;
						
						margin-left: 0px;
						
						font-family: Arial;
							
		}

/******************************************************************************************************
 *            UNIQUE STYLE
 *                                 	 
 ******************************************************************************************************/





















/******************************************************************************************************
 *            WEBSITE STYLE
 *                                 	 
 ******************************************************************************************************/
